
.chat{
    display: block;
    position: fixed;
    bottom: 10px;
    height: 30%;
    width: 15%;
    overflow-x: hidden;
    margin: 20px;
    right: 0;
    min-width: fit-content;
}


.btnChat{
    background-color: #1b6ec2;
    border-color: #1861ac;
    color: white;
    display:block
}

/* Chat Bubbles - CHANGE them, me CLASS NAMES */

ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li{
    display:inline-block;
    clear: both;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .them{
    background: #eee;
    float: left;
  }
  
  .me{
    float: right;
    background: #0084ff;
    color: #fff;
  }
  
  .them + .me{
    border-bottom-right-radius: 5px;
  }
  
  .me + .me{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .me:last-of-type {
    border-bottom-right-radius: 30px;
  }
  .chatBox{
    display: flex;
    flex-direction:column-reverse;
    position: fixed;
    top: 130px;
    height: 50%;
    width: 15%;
    overflow-x: hidden;
    margin: 30px;
    right: 0;
    min-width: fit-content;
    background-color: slategray;
}
.chatText{
  display: block;
  position: fixed;
  top: 75px;
  height: 50%;
  width: 15%;
  overflow-x: hidden;
  margin: 30px;
  right: 0;
  min-width: fit-content;
  text-align: center;
}