/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff(11, 6, 85);
  background-color: #1b6ec2;
  border-color: #1861ac;
}

div{
  color: black;
}

header{
  background-color: rgb(114, 114, 180);
}

h1 Home Page{
  color: white;
}

h1{
  color: black;
  font:bold;
}

body{
  background-color: rgb(43, 40, 40);
}

NavLink{
  color: white;
}

Table{
  background-color: rgb(195, 221, 228);
  border-style: solid;
  border-color: white 1px;
}