/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
   color: #E01A76;
}

.btn-primary {
  color: #fff(11, 6, 85);
  background-color: #1b6ec2;
  border-color: #1861ac;

}

p{
  color: white;
}

div{
  color: black;
}

header{
  background-color: rgb(62, 62, 112);
}

h1{
  color: white;
}

h2 {
  color: black;
  font: bold;
}

h3 {
  color: white;
}

h6 {
  color: white;
}

ul li {
  color: white;
}

ol li {
  color: white;
}

body{
  background-image: url('/ClientApp/public/westeam-logo.png');
  background-color: rgb(43, 40, 40);
  background-repeat: no-repeat;

}

Alert p{
  color: black;
}

NavLink{
  color: white;
}

footer{
  color: white;
}

Table{
  background-color: rgb(195, 221, 228);
  border-style: solid;
  border-color: white 1px;
}